<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @word.name %>
</p>

<p>
  <b>Language:</b>
  <%= @word.language %>
</p>


<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Add translation', new_word_path %>
<%= link_to 'Back', words_path %>
